:root.theme-dark {
	--page-bg-image: url("../images/cover-image-dark.png");
	--page-bg-color: #0d0228;
	--base-color: #ff0070;
	--dark-color: #000028;
	--focus-text-color: #db00ff;
	--section-text-color: #f1b2ce;
	--section-base-color: #ff0070;
	--focus-shadow: #ff0070;
	--button-color-hover: #ff007066;
	--visibility: visible;
}