:root.theme-light {
	--page-bg-image: url("../images/cover-image-light.png");
	--page-bg-color: #ffeaf8;
	--base-color: #353430;
	--dark-color: #353430;
	--focus-text-color: #ffc2e6;
	--section-text-color: #353430;
	--section-base-color: #ff8dcb;
	--focus-shadow: #ff8dcb;
	--button-color-hover: #32312d66;
	--visibility: hidden;
}

@media (prefers-color-scheme: light) {
	:root:not(.theme-dark):not(.theme-light) {
		--page-bg-image: url("../images/cover-image-light.png");
		--page-bg-color: #ffeaf8;
		--base-color: #353430;
		--dark-color: #353430;
		--focus-text-color: #ffc2e6;
		--section-text-color: #353430;
		--section-base-color: #ff8dcb;
		--focus-shadow: #ff8dcb;
		--button-color-hover: #32312d66;
		--visibility: hidden;
	}
}